html, body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  background-image:linear-gradient(to bottom right,#020320,#042838);
  scroll-behavior: smooth;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}


*{
  box-sizing: inherit;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

