<section class="container-header">
  <div class="top-container">
    <div class="text-box">
      <h2 class="title">TeamExplorer</h2>
      <h2 class="title2">
        Find the best team for you! Gain experience by working in a team!
      </h2>
      <a class="btn btn-white" href="#about">DISCOVER MORE</a>
    </div>
  </div>
</section>
<section class="container-about">
  <div class="about1" id="about">
    <h2 class="head">About TeamExplorer</h2>
    <p class="text">
      Team explorer is an application that allows you to work with people around
      the world. In this way, you can learn from them and they from you. Create
      your own team or go in another. Gain experience. That's what the IT system
      is all about.
    </p>
    <h2 class="head" style="margin-top: 10%;">How does it work?</h2>
    <p class="text">
      Create an account, describe what you're looking for and what programming languages you like, and find the best team for you!
      In this way you can learn how to work within a team of people that you don't know so you can improve your
      social skills and gain experience at the same time.
    </p>
    <a class="btn btn-white" routerLink="/register">Register now</a>
    <a class="btn btn-white" style="margin-left: 10px;" routerLink="/login">Login</a>
  </div>
  <div class="about2">
    <img src="../../../assets/wallpapertip_full-hd-motivational-wallpapers_1966820.jpg" alt="" class="img img-1">
    <img src="../../../assets/jesus-kiteque-wn-KYaHwcis-unsplash.jpg" alt="" class="img img-2">
    <img src="../../../assets/kevin-bhagat-zNRITe8NPqY-unsplash.jpg" alt="" class="img img-3">
  </div>
</section>
