.container-header{
  display: flex;
  flex-direction: column;
  height: 95vh;
  font-size: 16px;
  margin: 10px 20px;
  background-image: linear-gradient(to right bottom, rgba(2,3,32 ,0.4), rgba(4,40,56,0.4)),
  url("../../../assets/dose-media-bU6JyhSI6zo-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.top-container{
  flex: 0 0 50%;
  height: 40%;
  min-width: 100%;
}

.text-box{
  position: absolute;
  top: 40%;
  left:45%;
  transform: translate(-40%, -45%);
  text-align: center;
}

.title{
  width: 20%;
  text-transform: uppercase;
  letter-spacing: 33px;
  font-size: 60px;
  font-weight: 300;
  text-shadow: 0 2px 10px black;
}

.title2{
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 16px;
  font-weight: 300;
  margin-top: -20px;
  text-shadow: 0 2px 10px black;
}

.btn{
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    transition: all 0.2s;
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
    cursor: pointer;
    border-radius: 1000px;
}

.btn-white{
  background-color: #fff;
  color:#777;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.6);
}

.btn:active{
  transform: translateY(-1px);
  box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}

.container-about{
  height: 100vh;
  display: flex;
  margin: 10px 20px;
  color: #777;
  display: flex;
  justify-content: center;

}

.about1{
  flex: 0 0 50%;
  border-right: 1px solid white;
  padding: 5px;
  margin: auto;
  height: 80vh;
}

.about2{
  flex: 1;
}

.head{
  text-align: justify;
  color: white;
  padding: 15px;
}

/* .text{
} */
