<body>
  <div class="container" id="container">
    <!--SIGN UP FORM-->
    <div class="form-container sign-up-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Hello, Friend!</h1>
          <p>Enter your personal details and start journey with us</p>
          <a class="ghost" id="signUp" routerLink="/login">Login</a>
        </div>
      </div>
    </div>
    <div class="overlay-container">
      <form>
        <h1>Create Account</h1>
        <input #name type="text" placeholder="Name" required/>

        <input #surname type="text" placeholder="Surname" />

        <input #phoneNo type="text" placeholder="Phone Number"/>

        <input #email type="text" placeholder="Email"/>

        <input #password type="password" placeholder="Password"/>

        <button type="submit">Sign Up</button>
      </form>
    </div>
  </div>
  </body>
