.main-container{
  min-height: 100vh;
  padding: 10px;
}

.container{
  background-image: linear-gradient(to right bottom, rgba(2,3,32 ,0.55), rgba(4,40,56,0.55)),
   url('../../../assets/register.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: fadeInAnimation 1s;
  display: flex;
  padding: 60px 80px;
  min-height: 100vh;

}

.main-side{
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #03132A;
  border-radius: 40px;
  box-shadow: 0 4px 15px black;
  text-shadow: 0 2px 10px black;
  text-align: center;
}

.group{
  display: flex;
  justify-content: space-between;
}

.btn{
  font-size: 16px;
  outline: none;
  border: none;
  padding: 10px 25px;
  align-self:flex-start;
  margin-left: 30px;
}

.field{
  width: 100%;
}

.group-field{
  display: inline-block;
  text-align: start;
}

.form{
  width: 70%;
}

.qst{
  text-align: start;
  padding-left: 20px;
}

.checkbox{
  display: flex;
  justify-content: space-evenly;
}

.error{
  display: block;
  text-align: end;
}

.title{
  text-align: center;
}

.register-form{
  flex: 0 0 50%;
  padding: 10px;
  border-right: 1px solid white;
  display: flex;
  justify-content: center;
}

.already{
  display: inline;
  align-self:flex-start;
  margin-left: 20px;
}

.register-form--2{
  flex:1;
  height: 60%;
  display: flex;
  padding: 10px;
  flex-direction: column;
}

.p_language{
  text-align: start;
  padding-left: 20px;
}

@media only screen and (max-width: 1000px) {
  .main-side{
    flex-direction: column;
    align-items: unset;
  }

  .register-form{
    border: none;

    border-bottom: 1px solid white;
  }
  .register-form--2{
    height: auto;
    min-height: 60vh;
  }

  .group-field{
    display: block;
  }
}

@media only screen and (max-width: 500px) {
  .container{
    padding: 10px 20px;
    font-size: 12px;
  }
  .register-form{
    padding: 0;
  }

  input[type="text"]{
    font-size: 12px;
    padding: 0;
  }

  .checkbox{
    flex-direction: column;
  }

  .btn{
    font-size: 12px;
    outline: none;
    border: none;
    padding: 5px 15px;
    align-self:flex-start;
    margin-left: 30px;
  }

  .title{
    font-size: 20px;
  }
}

@media only screen and (max-width: 670px) {
  .checkbox{
    flex-direction: column;
  }
  .form{
    width: auto;
  }

}
