<div class="main-container">
  <div class="container">
    <div class="main-side">
      <div class="register-form">
      <form action="">
        <h1 class="title">Register form</h1>
        <span class="group">
          <label for="email">First name: </label>
          <input type="text" class="email" id="email">
        </span>
        <br>
        <span class="group">
          <label for="email">Last name: </label>
          <input type="text" class="email" id="email">
        </span>
        <br>
        <span class="group">
          <label for="email">Email: </label>
          <input type="text" class="email" id="email">
        </span>
        <br>
        <span class="error">Invalid email</span>
        <span class="group">
          <label for="password">Password:</label>
          <input type="text" class="password" id="password">
        </span>
        <br>
        <span class="group">
          <label for="email">Confirm password: </label>
          <input type="text" class="email" id="email">
        </span>
        <br>
        <span class="error">Invalid email</span>
        <br>
      </form>
      </div>
      <div class="register-form--2">
        vfdvd
      </div>
    </div>
  </div>
</div>


