<div class="main-container">
  <div class="container">
    <div class="main-side">
      <div class="login-form">
      <h1 class="title">Login form</h1>
      <form action="">
        <span class="group">
          <label for="email">Email: </label>
          <input type="text" class="email" id="email">
        </span>
        <span class="error">Invalid email</span>
        <span class="group">
          <label for="password">Password:</label>
          <input type="text" class="password" id="password">
        </span>
        <span class="error">Invalid email</span>
        <span class="error--1">Invalid email</span>
        <button type="submit" class="btn btn-white">Login</button>
      </form>
      <br>
      Don't have an account? <a href="">Register here</a>
      </div>
    </div>
    <div class="helper">

    </div>
  </div>
</div>
